@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1260px;
    padding: 0 10px;
}

.row {
    display: flex;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
}

.btn{
    height: 38px;
    border-radius: 10px;
    background: #8E344D;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: none;
    padding: 0 25px;
    cursor: pointer;
}

.big-btn {
    height: 48px;
    font-size: 22px;
}

/* Header */

header {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #FFFAE3;
    z-index: 3;
}

.header_wrapper {
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    color: black;
}

header nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    gap: 30px;
}

header nav a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

header button {
    margin-left: auto;
}

.burger {
    position: relative;
    z-index: 3;
    height: 36px;
    width: 42px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    cursor: pointer;
}

.burger figure {
    height: 5px;
    background: black;
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s;
}

.burger.active figure:nth-child(1) {
    transform: rotate(45deg) transLate(11px, 11px);
}

.burger.active figure:nth-child(2) {
    transform: transLateX(20px);
    width: 0;
}

.burger.active figure:nth-child(3) {
    transform: rotate(-45deg) transLate(11px, -11px);
}

/* Hero */

.hero {
    background: #FFFAE3;
}

.hero__wrapper {
    height: 100vh;
    padding: 130px 0 0 0;
    gap: 60px;
    justify-content: space-between;
}

.hero__content span {
    color: #8E344D;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
}

.hero__content h1 {
    font-weight: 600;
    font-size: 68px;
    max-width: 480px;
    margin-bottom: 30px;
}

.hero__content p {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}

.hero__content button {
    height: 48px;
    font-size: 22px;
    font-weight: 700;
    width: 280px;
}

.hero__image {
    background: #8E344D;
    padding: 35px;
    border-radius: 10px;
    height: 400px;
    width: 520px;
}

.hero__image img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

/* Service */

.services {
    padding: 120px 0;
    position: relative;
}

.service__figures figure{
    position: absolute;
    z-index: -1;
}

.service__figures figure:nth-child(1) {
    top: 300px;
    left: 20px;
}

.service__figures figure:nth-child(2) {
    top: 190px;
    left: 80px;
}

.service__figures figure:nth-child(3) {
    top: 80px;
    left: 10px;
}

.service__figures figure:nth-child(4) {
    top: -45px;
    left: 50px;
}

.service__figures figure:nth-child(5) {
    bottom: 300px;
    right: 20px;
}

.service__figures figure:nth-child(6) {
    bottom: 190px;
    right: 80px;
}

.service__figures figure:nth-child(7) {
    bottom: 80px;
    right: 10px;
}

.service__figures figure:nth-child(8) {
    bottom: -45px;
    right: 20px;
}

.service__list {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
}

.service__list-item {
    width: 260px;
    background: #FFFAE3;
    padding: 20px 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #c9c19c;
}

.service__list-item .btn {
    width: 100%;
}

.service__list-item img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.service__list-item h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0;
}

.service__list-item p {
    font-size: 16px;
    margin-bottom: 20px;
}


/* About */
 
.about {
    padding: 100px 0;
    background: #FFFAE3;
}

.about__wrapper {
    display: flex;
    gap: 35px;
}

.about__image {
  padding: 25px 0 25px 25px;
  width: 100%;
  max-width: 650px;
  flex-shrink: 0;
  position: relative;
}

.about__image img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
}

.about__image figure {
    width: 50%;
    height: 100%;
    background: #8E344D;
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   border-radius: 10px;
   z-index: 1;
}

.about__content h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: left;
}

.about__content p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 26px;
}

.about__content button {
width: fit-content;
   margin-top: auto;
}

.about__content {
    display: flex;
    flex-direction: column;
    padding: 35px 0;
}

@media all and (max-width: 1200px) {
    .about__wrapper {
        flex-direction: column;
    }
}

@media all and (max-width: 940px) {
    .burger {
        display: flex;
    }
    .header_logo {
        z-index: 2;
    }
    header nav {
        height: 100vh;
        left: -150%;
        transition: all 0.3s;
        top: 0;
        transform: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        background: #FFFAE3;
        box-shadow: 1px 1px 4px #c9c19c;
        z-index: 1;
        gap: 45px;
    }
    header nav a {
        font-size: 24px;
    }
    header nav.active {
        left: 0;
    }
.hero__wrapper {
    flex-direction: column;
    height: auto;
    padding: 100px 0;
}
.hero__content {
    order: 2;
    text-align: center;
}
.hero__content h1 {
    margin: 0 auto;
    margin-bottom: 30px;
}
.hero__image {
    margin: 0 auto;
    order: 1;
    margin-bottom: 100px;
}
.hero__image {
    width: 100%;
    height: fit-content;
    background: Linear-gradient(to bottom, #8E344D 50%, transparent 50%);
    margin: 0 auto;
    padding: 15px;
}
}

@media all and (max-height: 680px) {
    .hero__wrapper {
        padding: 100px 0 0;
    }
    .hero__image {
        width: 100%;
        max-width: 420px;
        height: fit-content;
        background: Linear-gradient(to bottom, #8E344D 50%, transparent 50%);
        margin: 0 auto;
        padding: 15px;
    }
}

@media all and (max-width: 640px) {
    header nav {
        width: 100%;
    }

    header button {
        display: none;
    }

    .hero__wrapper {
        padding: 80px 0;
    }
    .hero__content h1 {
       font-size: 32px;
    }
    .hero__content p {
       font-size: 18px;
    }
    .service__figures figure {
       display: none;
    }
    .about__image {
        padding: 10px 0 10px 10px;
    }
    .about {
        padding: 60px 0;
    }
    .about__content {
        padding: 0;
    }
}
