@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1260px;
    padding: 0 10px;
}

.row {
    display: flex;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
}

.btn {
    height: 38px;
    border-radius: 10px;
    background: #8E344D;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: none;
    padding: 0 25px;
    cursor: pointer;
}

.big-btn {
    height: 48px;
    font-size: 22px;
}

/* Header */

header {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #FFFAE3;
    z-index: 3;
}

.header_wrapper {
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    color: black;
}

header nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    gap: 30px;
}

header nav a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

header button {
    margin-left: auto;
}

.burger {
    position: relative;
    z-index: 3;
    height: 36px;
    width: 42px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    cursor: pointer;
}

.burger figure {
    height: 5px;
    background: black;
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s;
}

.burger.active figure:nth-child(1) {
    transform: rotate(45deg) transLate(11px, 11px);
}

.burger.active figure:nth-child(2) {
    transform: transLateX(20px);
    width: 0;
}

.burger.active figure:nth-child(3) {
    transform: rotate(-45deg) transLate(11px, -11px);
}

/* Hero */

.hero {
    background: #FFFAE3;
}

.hero__wrapper {
    height: 100vh;
    padding: 130px 0 0 0;
    gap: 60px;
    justify-content: space-between;
}

.hero__content span {
    color: #8E344D;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
}

.hero__content h1 {
    font-weight: 600;
    font-size: 68px;
    max-width: 480px;
    margin-bottom: 30px;
}

.hero__content p {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}

.hero__content button {
    height: 48px;
    font-size: 22px;
    font-weight: 700;
    width: 280px;
}

.hero__image {
    background: #8E344D;
    padding: 35px;
    border-radius: 10px;
    height: 400px;
    width: 520px;
}

.hero__image img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

/* Service */

.services {
    padding: 120px 0;
    position: relative;
}

.service__figures figure {
    position: absolute;
    z-index: -1;
}

.service__figures figure:nth-child(1) {
    top: 300px;
    left: 20px;
}

.service__figures figure:nth-child(2) {
    top: 190px;
    left: 80px;
}

.service__figures figure:nth-child(3) {
    top: 80px;
    left: 10px;
}

.service__figures figure:nth-child(4) {
    top: -45px;
    left: 50px;
}

.service__figures figure:nth-child(5) {
    bottom: 300px;
    right: 20px;
}

.service__figures figure:nth-child(6) {
    bottom: 190px;
    right: 80px;
}

.service__figures figure:nth-child(7) {
    bottom: 80px;
    right: 10px;
}

.service__figures figure:nth-child(8) {
    bottom: -45px;
    right: 20px;
}

.service__list {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
}

.service__list-item {
    width: 260px;
    background: #FFFAE3;
    padding: 20px 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #c9c19c;
}

.service__list-item .btn {
    width: 100%;
}

.service__list-item img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.service__list-item h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0;
}

.service__list-item p {
    font-size: 16px;
    margin-bottom: 20px;
}


/* About */

.about {
    padding: 100px 0;
    background: #FFFAE3;
}

.about__wrapper {
    display: flex;
    gap: 35px;
}

.about__image {
    padding: 25px 0 25px 25px;
    width: 100%;
    max-width: 650px;
    flex-shrink: 0;
    position: relative;
}

.about__image img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
}

.about__image figure {
    width: 50%;
    height: 100%;
    background: #8E344D;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 10px;
    z-index: 1;
}

.about__content h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: left;
}

.about__content p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 26px;
}

.about__content button {
    width: fit-content;
    margin-top: auto;
}

.about__content {
    display: flex;
    flex-direction: column;
    padding: 35px 0;
}


/* Reviews */

.reviews {
    padding: 120px 0;
    position: relative;
}

.swiper-slide {
    padding: 25px;
    background-color: #FFFAE3;
    border-right: 5px solid #8E344D;
    border-bottom: 5px solid #8E344D;
    border-left: 1px solid #8E344D;
    border-top: 1px solid #8E344D;
    border-radius: 10px;
    min-height: 240px;
}

.slide_top h3 {
    font-size: 24px;
    font-weight: 500;
}

.slide_top p {
    font-size: 18px;
    font-weight: 400;
}

.slide_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.swiper {
    padding: 0 85px;
}

.swiper::after {
    display: block;
    height: 100%;
    width: 85px;
    background: white;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.swiper::before {
    display: block;
    height: 100%;
    width: 85px;
    background: white;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.swiper-button-next {
    background: #8E344D;
    width: 48px;
    height: 48px;
    border-radius: 10px;
}

.swiper-button-prev {
    background: #8E344D;
    width: 48px;
    height: 48px;
    border-radius: 10px;
}

.swiper-button-next:after {
    content: "→";
    color: white;
    padding-bottom: 6px;
    font-size: 28px;
    font-weight: 700;

}

.swiper-button-prev:after {
    content: "←";
    color: white;
    padding-bottom: 6px;
    font-size: 28px;
    font-weight: 700;
}

.reviews__figure figure {
    position: absolute;
    z-index: -1;
}

.reviews__figure figure:nth-child(1) {
    top: 80px;
    left: 25px;
}

.reviews__figure figure:nth-child(2) {
    top: -45px;
    left: 170px;
}

/* Feedback */

.feedback {
    padding: 100px 0;
    background: #FFFAE3;
}

.feedback h2 {
    text-align: left;
}

.feedback__wrapper {
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: center;
}



.feedback__image {
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    height: auto;
    position: relative;
    z-index: 2;

}

.feedback__image img {
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    height: auto;

}

.feedback__image figure {
    width: calc(100% + 40px);
    height: 50%;
    background: #8E344D;
    position: absolute;
    bottom: -20px;
    left: -20px;
    right: -20px;
    display: block;
    border-radius: 10px;
    z-index: -1;
}


/* Form */

#send-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 550px;
}

#send-form input {
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    padding: 0 10px;
}

#send-form .btn {
    margin-top: 10px;
    height: 50px;
}

#inp-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.form__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}


.form-error {
    display: none;
    color: red;
}

.form-ok {
    color: green;
    display: none;
}

/* Footer */

footer {
    padding: 50px 0;
    background: #8E344D;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    color: white;
}

.footer__left-nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 220px;
    margin-bottom: 20px;
}

.footer__left-social {
    display: flex;
    gap: 10px;
}

.footer__left a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.footer__left h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
}

.footer__right {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 620px;
}

.footer__right h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
    
}

.footer__right a, .footer__right p {
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    display: block;
}

.address, .phone, .email, .graph {
    width: 300px;
}

@media all and (max-width: 1200px) {
    .about__wrapper {
        flex-direction: column;
    }
}

@media all and (max-width: 1024px) {
    .feedback__wrapper {
        flex-direction: column;
        gap: 40px;
    }

    .feedback__content {
        order: 2;
    }

    .feedback__image {
        order: 1;
    }

    .feedback h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .feedback__image figure {
        width: calc(100% + 16px);
        height: 50%;
        background: #8E344D;
        position: absolute;
        bottom: -8px;
        left: -8px;
        right: -8px;
        display: block;
        border-radius: 10px;
        z-index: -1;
    }
}

@media all and (max-width: 940px) {
    .burger {
        display: flex;
    }

    .header_logo {
        z-index: 2;
    }

    header nav {
        height: 100vh;
        left: -150%;
        transition: all 0.3s;
        top: 0;
        transform: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        background: #FFFAE3;
        box-shadow: 1px 1px 4px #c9c19c;
        z-index: 1;
        gap: 45px;
    }

    header nav a {
        font-size: 24px;
    }

    header nav.active {
        left: 0;
    }

    .hero__wrapper {
        flex-direction: column;
        height: auto;
        padding: 100px 0;
    }

    .hero__content {
        order: 2;
        text-align: center;
    }

    .hero__content h1 {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .hero__image {
        margin: 0 auto;
        order: 1;
        margin-bottom: 100px;
    }

    .hero__image {
        width: 100%;
        height: fit-content;
        background: Linear-gradient(to bottom, #8E344D 50%, transparent 50%);
        margin: 0 auto;
        padding: 15px;
    }
}

@media all and (max-height: 680px) {
    .hero__wrapper {
        padding: 100px 0 0;
    }

    .hero__image {
        width: 100%;
        max-width: 420px;
        height: fit-content;
        background: Linear-gradient(to bottom, #8E344D 50%, transparent 50%);
        margin: 0 auto;
        padding: 15px;
    }
}

@media all and (max-width: 640px) {
    header nav {
        width: 100%;
    }

    header button {
        display: none;
    }

    .hero__wrapper {
        padding: 80px 0;
    }

    .hero__content h1 {
        font-size: 32px;
    }

    .hero__content p {
        font-size: 18px;
    }

    .service__figures figure {
        display: none;
    }

    .about__image {
        padding: 10px 0 10px 10px;
    }

    .about {
        padding: 60px 0;
    }

    .about__content {
        padding: 0;
    }

    .swiper {
        padding: 0px;
    }

    .swiper::after {
        display: none;
    }

    .swiper::before {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

    .swiper-button-prev {
        display: none;
    }

    .reviews__figure figure:nth-child(1) {
        top: 80px;
        left: -25px;
    }

    .reviews__figure figure:nth-child(2) {
        top: -45px;
        left: 40px;
    }

    .reviews {
        padding: 80px 0;
    }

    .services {
        padding: 80px 0;
    }

    .feedback {
        padding: 60px 0;
    }

    .slide_stars img {
        width: 25px;
        height: 25px;
    }
    h2 {
        font-size: 28px !important;
    }
    .services h2 {
        max-width: 300px;
        margin: 0 auto 40px auto;
    }
}

@media all and (max-width: 440px) {
    .footer__wrapper {
        flex-direction: column;
        gap: 20px;
    }
}